*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;

}
.navbar ul li{
    display: inline-block;
    padding-right:15px;
   
}
 a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

/* /////////////Row 1 */
.row-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.right{
    flex-basis: 50%;
    min-width: 300px;
}
.right img{
max-width: 100%;
padding: 50px 0;
}
.left h1{
    font-size: 50px;
    line-height:60px;
    margin-bottom: 2rem;
}

.btn{
    margin-top: 2rem;
    padding: 0.6rem 3rem;
    background-color: orangered;
    border-radius: 2rem;
    color: #fff;
    transition: all .3s ease;
}
.btn:hover{
    background-color: #563434;
}
/* Categories section */

.container-2{
    max-width: 1080px;
    margin: auto;
    padding: 0 15px;
}

.category{
    margin-top: 2rem;

    
}
.cat-1{
    flex-basis:30% ;
    min-width:250px;
    margin-bottom: 2rem;
    

}
.cat-1 img{
    width: 100%;
}
/* ---------featured Products */
.prod{

    flex-basis: 25%;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    transition: all 0.3s ease;
   
} 
.title{
    text-align: center;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background-color: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.prod h4{
    color: #555;
    font: normal;
}
.prod p{
    font-size: 16px;
}
.rating .fa{
    color: orangered;
}
.prod:hover{
    transform: translateY(-15px);
    /* transform: rotateY(60deg); */
}

/* Exclusive Product************************* */
.offer {
    line-height: 1rem;
    /* background:radial-gradient(#dd5e89,#f7bb97); */
    background: radial-gradient(#fff,#ffd6d6);

}
.offer p{
    margin-bottom: 2.1rem;
    
}
.offer h4{
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-weight: 10rem;
    color: #000;
}
.offer img{
    padding: 30px;
    transition: all 0.7s ease-out;
    
}
.offer img:hover{
    transform:scale3d(1.5, 1.5, 1.5)

}
.offer .small{
    color: #555;
}
/* *********Testimonials******** */

.testimonial{
    padding-top: 100px;
}
.testimonial .cat-1{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.testimonial .cat-1 img{
    width: 50px;
    margin-top: 2rem;
    border-radius: 50%;
}
.testimonial .cat-1:hover{
    transform: translateY(-30px);
}

/* *********Brand -------- */

.brands {
    margin: 3rem 3rem;
}

.brands .brand-1 img{
    width: 80%;
    filter: grayscale(100%);
    transition: all 0.6s ease-in-out;
}
.brand-1 img:hover{
    filter: grayscale(0);
    transform:scale3d(1.5, 1.5, 1.5)
}
/* Footer */
.footer{
    background: #000;
   padding: 2rem;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
    padding-bottom: 10px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.foot-1,.foot-2,.foot-3,.foot-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer .foot-1{
    flex-basis: 30%;
}
.footer .foot-1 img{
    width: 130px;
}
.footer .foot-2{
    flex: 1;
}

.footer .foot-2 img{
    width: 180px;
}

.foot-3,.foot-4 {
    flex-basis: 12%;
}
ul{
    list-style: none;
}
#cpy{
    padding: 10px;
    text-align: center;
}

.menu{
    width: 25px;
    margin-left: 1rem;
display: none;

}

/* Media Query for menu */

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top:70px;
        left: 0;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 1s;    }
    nav ul li{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}


/* All Products Page */
 .sort{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid red;
    padding:5px;
    /* background: radial-gradient(pink,orange); */
    
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 2rem;
}
.page-btn span{
    /* padding: 6px 6px; */
    /* background: magenta; */
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
     line-height: 40px;
}
.page-btn span:hover{
    color: #fff;
    background: #ff523b;
}
/* ****************Single Page Details************* */

.details{
    margin-top: 2rem ;
} 
.details .cat-1{
    flex-basis: 46%;
    justify-content: space-between;
}
.details .cat-1 img{
    padding: 0;
}
.detail p{
    margin-bottom: 20px;
}


.details h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.details h2{
    margin-bottom: 20px;
    margin-top: 15px;
}
details p{
    line-height: 1rem;
}
.details select{
    padding: 10px;
    display: block;
    margin-top: 20px;
}
.details input{
    width: 50px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #ff523b;
    text-align: center;
    font-size: 20px;
}
.details input:focus{
    outline: none;
}
.details .fa{
    color: #ff523b;
    margin-left: 15px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/* Cart Items */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    
}
td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px ;
    height: 80px;
    margin-right: 20px;
}

/* foot of total cart item */
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid red;
    width: 100%;
    max-width: 400px;

}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* Account Page******* */

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);

}
.form-container{
    background-color: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 20px 0px;
    margin: auto;
    overflow:hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    top: 130px;
    position: absolute;
    transition:transform 1s;
}

.form-container input{
    padding: 5px 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #bababa;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

#Login{
    left: -300px;

}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#indicator{
    width: 100px;
    /* border: none; */
    background: #ff0000;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition:transform 1s;
    
}

















/* Media for Less than 600 Px */
@media only screen and (max-width:600px){
    .row-1{
        text-align: center;
    }
    .right,.cat-1{
        flex-basis: 100%;
    }
    .details .row-1{
        text-align: left;
    }
    .details .cat-1{
        padding: 20px 0;
        line-height: 10px;
    }
    .cart-info p{
        display: none;
    }
}